Source: teco
Version: 0.0.100
Section: devel
Priority: optional
Maintainer: Gunter Liszewski <gunter.liszewski@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev, libncurses-dev
Standards-Version: 4.1.2
Homepage: https://glisze.github.io/teco
Vcs-Git: lp:glisze/teco
Vcs-Browser: https://github.com/glisze/teco

Package: teco
Architecture: amd64
Depends: ${misc:Depends}
Description: Text Editor and COrrector Program
  This is it...
  Yes, I am typing this using this capable editor.
  The following teco command (omit the prompt '* '),
  * 256,1ez
  works around the default, and on linux incorrect
  end-of-line sequence.
  Also, please note that only the amd64 binary has been
  verified to run. Other architecures are here to facilitate
  their testing only.
  For now it depends on ncurses, pending to be fixed
  with autotools. The static linking is of a similar
  and related issue (guix issue, may have been fixd elsewhere)
