Source: tecoc-0.0.73
Section: unknown
Priority: optional
Maintainer: Gunter Liszewski <gunter.liszewski@gmail.com>
Build-Depends: debhelper (>= 10), autotools-dev
Standards-Version: 4.1.2
Homepage: https://glisze.github.io/teco
Vcs-Git: lp:glisze/teco
Vcs-Browser: https://github.com/glisze/teco

Package: tecoc-0.0.73
Architecture: all
Depends: ${misc:Depends}
Description: Text Editor and COrrector Program
  This is it...
