Source: teco
Version: 0.0.73-6474
Section: devel
Priority: optional
Maintainer: Gunter Liszewski <gunter.liszewski@gmail.io>
XSBC-Original-Maintainer: Gunter Liszewsk<gunter.liszewski@gmail.io>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 7)
Vcs-Bzr: lp:glisze/teco
Homepage: https://glisze.github.io/teco
Package: teco
Architecture: amd64
Depends: ncurses
Description: Text Editor and COrrector Program
  This is it...
